    body {margin:0px;font-size:large;}
    #header {margin:0;padding:0;text-align:center;line-height:2em;border:1px solid black;}   
    #icon {float:left;}
    #exitApp {margin:1em;float:right;}
    #copyright {font-style:italic;font-size:small;}
